<?xml version="1.0"?>
<!--
/**
 *               _
 *              | |
 *     __ _   _ | | _  _   ___  _ __
 *    / _` | / || || || | / _ \| '  \
 *   | (_| ||  || || || ||  __/| || |
 *    \__,_| \__,_|\__, | \___||_||_|
 *                 |___/
 *
 * Adyen Subscription module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 H&O (http://www.h-o.nl/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>, H&O <info@h-o.nl>
 */
-->
<config>
    <modules>
        <Adyen_Subscription>
            <version>0.35.0</version>
        </Adyen_Subscription>
    </modules>
    <global>
        <blocks>
            <adyen_subscription>
                <class>Adyen_Subscription_Block</class>
            </adyen_subscription>
            <adminhtml>
                <rewrite>
                    <sales_order_create_header>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create_Header</sales_order_create_header>
                    <sales_order_create>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create</sales_order_create>
                    <sales_order_create_form>Adyen_Subscription_Block_Adminhtml_Sales_Order_Create_Form</sales_order_create_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <adyen_subscription>
                <class>Adyen_Subscription_Helper</class>
            </adyen_subscription>
        </helpers>
        <models>
            <adyen_subscription>
                <class>Adyen_Subscription_Model</class>
                <resourceModel>adyen_subscription_resource</resourceModel>
            </adyen_subscription>
            <adyen_subscription_resource>
                <class>Adyen_Subscription_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>adyen_subscription</table>
                    </subscription>
                    <subscription_address>
                        <table>adyen_subscription_address</table>
                    </subscription_address>
                    <subscription_item>
                        <table>adyen_subscription_item</table>
                    </subscription_item>
                    <subscription_quote>
                        <table>adyen_subscription_quote</table>
                    </subscription_quote>
                    <subscription_order>
                        <table>adyen_subscription_order</table>
                    </subscription_order>
                    <product_subscription>
                        <table>adyen_subscription_product_subscription</table>
                    </product_subscription>
                    <product_subscription_label>
                        <table>adyen_subscription_product_subscription_label</table>
                    </product_subscription_label>
                </entities>
            </adyen_subscription_resource>
            <catalog>
                <rewrite>
                    <product_type_simple>Adyen_Subscription_Model_Catalog_Product_Type_Simple</product_type_simple>
                    <product_type_price>Adyen_Subscription_Model_Catalog_Product_Price_Simple</product_type_price>
                    <product_type_configurable>Adyen_Subscription_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                    <product_type_configurable_price>Adyen_Subscription_Model_Catalog_Product_Price_Configurable</product_type_configurable_price>
                </rewrite>
            </catalog>
            <bundle>
                <rewrite>
                    <product_price>Adyen_Subscription_Model_Catalog_Product_Price_Bundle</product_price>
                    <product_type>Adyen_Subscription_Model_Catalog_Product_Type_Bundle</product_type>
                </rewrite>
            </bundle>
        </models>
        <catalog>
            <product>
                <type>
                    <simple translate="label" module="catalog">
                        <price_model>adyen_subscription/catalog_product_price_simple</price_model>
                    </simple>
                </type>
            </product>
        </catalog>
        <resources>
            <adyen_subscription_setup>
                <setup>
                    <module>Adyen_Subscription</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </adyen_subscription_setup>
        </resources>
        <events>
            <sales_quote_add_item>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>addSubscriptionProductSubscriptionToQuote</method>
                    </adyen_subscription>
                </observers>
            </sales_quote_add_item>
            <payment_method_is_active>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>isPaymentMethodActive</method>
                    </adyen_subscription>
                </observers>
            </payment_method_is_active>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <adyen_subscription_add_subscription_options_to_order>
                        <class>adyen_subscription/observer</class>
                        <method>addSubscriptionProductSubscriptionToOrder</method>
                    </adyen_subscription_add_subscription_options_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_collection_load_after>
                <observers>
                    <adyen_subscription_load_attributes_after_collection_load>
                        <class>adyen_subscription/product_observer</class>
                        <method>loadAttributesAfterCollectionLoad</method>
                    </adyen_subscription_load_attributes_after_collection_load>
                </observers>
            </catalog_product_collection_load_after>
            <sales_order_place_before>
                <observers>
                    <adyen_subscription_calculate_item_qty>
                        <class>adyen_subscription/observer</class>
                        <method>calculateItemQty</method>
                    </adyen_subscription_calculate_item_qty>
                </observers>
            </sales_order_place_before>
            <create_order_session_quote_initialized>
                <observers>
                    <adyen_subscription_calculate_item_qty_reorder>
                        <class>adyen_subscription/observer</class>
                        <method>calculateItemQtyReorder</method>
                    </adyen_subscription_calculate_item_qty_reorder>
                </observers>
            </create_order_session_quote_initialized>
            <adyen_payment_process_notifications_after>
                <observers>
                    <adyen_subscription_update_billing_agreement_in_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>updateBillingAgreementInSubscription</method>
                    </adyen_subscription_update_billing_agreement_in_subscription>
                </observers>
            </adyen_payment_process_notifications_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <adyen_subscription_type />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <subscription_id>
                    <to_order>*</to_order>
                </subscription_id>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <adyen_subscription>
                <use>standard</use>
                <args>
                    <module>Adyen_Subscription</module>
                    <frontName>adyen_subscription</frontName>
                </args>
            </adyen_subscription>
        </routers>
        <layout>
            <updates>
                <adyen_subscription module="adyen_subscription">
                    <file>adyen_subscription.xml</file>
                </adyen_subscription>
            </updates>
        </layout>
        <events>
            <product_option_renderer_init>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>initOptionRenderer</method>
                    </adyen_subscription>
                </observers>
            </product_option_renderer_init>
            <controller_action_layout_load_before>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/product_observer</class>
                        <method>addProductTypeSubscriptionHandle</method>
                    </adyen_subscription>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <adyen_subscription>
                <use>admin</use>
                <args>
                    <module>Adyen_Subscription</module>
                    <frontName>adyen_subscription</frontName>
                </args>
            </adyen_subscription>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <adyen_subscription module="adyen_subscription">
                    <file>adyen_subscription.xml</file>
                </adyen_subscription>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <adyen_subscription_save_subscription_product_data>
                        <type>singleton</type>
                        <class>adyen_subscription/product_observer</class>
                        <method>saveSubscriptionProductData</method>
                    </adyen_subscription_save_subscription_product_data>
                </observers>
            </catalog_product_save_before>
            <controller_action_layout_load_before>
                <observers>
                    <adyen_subscription>
                        <class>adyen_subscription/observer</class>
                        <method>addAdminhtmlSalesOrderCreateHandles</method>
                    </adyen_subscription>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <adyen_subscription_sales_order_grid_collection>
                        <type>singleton</type>
                        <class>adyen_subscription/observer</class>
                        <method>beforeOrderCollectionLoad</method>
                    </adyen_subscription_sales_order_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <adyen_subscription_add_sales_order_grid_column>
                        <type>singleton</type>
                        <class>adyen_subscription/observer</class>
                        <method>addGridColumn</method>
                    </adyen_subscription_add_sales_order_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>

    <default>
        <adyen_subscription>
            <subscription>
                <allowed_payment_methods>adyen_cc</allowed_payment_methods>
                <debug>1</debug>
                <show_upcoming_orders>1</show_upcoming_orders>
                <number_of_upcoming_orders>5</number_of_upcoming_orders>
            </subscription>
            <allowed_payment_methods>
                <creditcards>
                    <code>adyen_cc</code>
                    <label>Credit Card</label>
                </creditcards>
                <sepa>
                    <code>adyen_sepa</code>
                    <label>SEPA Direct Debit</label>
                </sepa>
                <paypal>
                    <code>adyen_hpp_paypal</code>
                    <label>PayPal</label>
                </paypal>
                <ideal>
                    <code>adyen_ideal</code>
                    <label>Ideal</label>
                </ideal>
                <directebanking>
                    <code>adyen_hpp_directEbanking</code>
                    <label>directEbanking (Sofort)</label>
                </directebanking>
            </allowed_payment_methods>
        </adyen_subscription>
    </default>

    <crontab>
        <jobs>
            <adyen_subscription_create_subscriptions>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>adyen_subscription/observer::createSubscriptions</model></run>
            </adyen_subscription_create_subscriptions>
            <adyen_subscription_create_quotes>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run><model>adyen_subscription/observer::createQuotes</model></run>
            </adyen_subscription_create_quotes>
            <adyen_subscription_create_orders>
                <schedule><cron_expr>15 6 * * *</cron_expr></schedule>
                <run><model>adyen_subscription/observer::createOrders</model></run>
            </adyen_subscription_create_orders>
        </jobs>
    </crontab>
</config>
