<?xml version="1.0"?>
<!--
/**
 *               _
 *              | |
 *     __ _   _ | | _  _   ___  _ __
 *    / _` | / || || || | / _ \| '  \
 *   | (_| ||  || || || ||  __/| || |
 *    \__,_| \__,_|\__, | \___||_||_|
 *                 |___/
 *
 * Adyen Subscription module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 H&O (http://www.h-o.nl/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>, H&O <info@h-o.nl>
 */
-->
<config>
    <sections>
        <adyen_subscription translate="label" module="adyen_subscription">
            <label>Adyen Subscriptions</label>
            <tab>sales</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <subscription translate="label">
                    <label>Subscription</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cancel_reasons translate="label">
                            <label>Cancel Reasons</label>
                            <frontend_model>adyen_subscription/adminhtml_system_config_cancelReasons</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[]]></comment>
                        </cancel_reasons>
                        <allowed_payment_methods translate="label">
                                <label>Allowed payment methods</label>
                                <frontend_type>multiselect</frontend_type>
                                <sort_order>20</sort_order>
                                <source_model>adyen_subscription/system_config_source_allowedPaymentMethods</source_model>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                        </allowed_payment_methods>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                        <allow_cancel_subscription>
                            <label>Cancel Subscription</label>
                            <comment>Allow the shopper to cancel the subscription</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_cancel_subscription>
                        <show_upcoming_orders>
                            <label>Show upcoming orders</label>
                            <comment>Show upcoming orders for the shopper</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_upcoming_orders>
                        <number_of_upcoming_orders>
                            <label>Number of upcomming orders</label>
                            <comment>Number of upcomming orders to show</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><show_upcoming_orders>1</show_upcoming_orders></depends>
                        </number_of_upcoming_orders>
                    </fields>
                </subscription>
            </groups>
        </adyen_subscription>
    </sections>
</config>
