<?xml version="1.0"?>
<!--
/**
 * Ho_Recurring
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_Recurring
 * @copyright   Copyright © 2015 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 * @author      Maikel Koek – H&O <info@h-o.nl>
 */
-->
<config>
    <modules>
        <Ho_Recurring>
            <version>0.3.0</version>
        </Ho_Recurring>
    </modules>
    <global>
        <blocks>
            <ho_recurring>
                <class>Ho_Recurring_Block</class>
            </ho_recurring>
        </blocks>
        <helpers>
            <ho_recurring>
                <class>Ho_Recurring_Helper</class>
            </ho_recurring>
        </helpers>
        <models>
            <ho_recurring>
                <class>Ho_Recurring_Model</class>
                <resourceModel>ho_recurring_resource</resourceModel>
            </ho_recurring>
            <ho_recurring_resource>
                <class>Ho_Recurring_Model_Resource</class>
                <entities>
                    <profile>
                        <table>ho_recurring_profile</table>
                    </profile>
                    <profile_address>
                        <table>ho_recurring_profile_address</table>
                    </profile_address>
                    <profile_item>
                        <table>ho_recurring_profile_item</table>
                    </profile_item>
                    <profile_quote>
                        <table>ho_recurring_profile_quote</table>
                    </profile_quote>
                    <profile_order>
                        <table>ho_recurring_profile_order</table>
                    </profile_order>
                </entities>
            </ho_recurring_resource>
        </models>
        <resources>
            <ho_recurring_setup>
                <setup>
                    <module>Ho_Recurring</module>
                </setup>
            </ho_recurring_setup>
        </resources>
    </global>
</config>
