<?xml version="1.0"?>
<!--
/**
 * Ho_Recurring
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_Recurring
 * @copyright   Copyright © 2015 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 * @author      Maikel Koek – H&O <info@h-o.nl>
 */
-->
<config>
    <modules>
        <Ho_Recurring>
            <version>0.34.0</version>
        </Ho_Recurring>
    </modules>
    <global>
        <blocks>
            <ho_recurring>
                <class>Ho_Recurring_Block</class>
            </ho_recurring>
            <adminhtml>
                <rewrite>
                    <sales_order_create_header>Ho_Recurring_Block_Adminhtml_Sales_Order_Create_Header</sales_order_create_header>
                    <sales_order_create>Ho_Recurring_Block_Adminhtml_Sales_Order_Create</sales_order_create>
                    <sales_order_create_form>Ho_Recurring_Block_Adminhtml_Sales_Order_Create_Form</sales_order_create_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ho_recurring>
                <class>Ho_Recurring_Helper</class>
            </ho_recurring>
        </helpers>
        <models>
            <ho_recurring>
                <class>Ho_Recurring_Model</class>
                <resourceModel>ho_recurring_resource</resourceModel>
            </ho_recurring>
            <ho_recurring_resource>
                <class>Ho_Recurring_Model_Resource</class>
                <entities>
                    <profile>
                        <table>ho_recurring_profile</table>
                    </profile>
                    <profile_address>
                        <table>ho_recurring_profile_address</table>
                    </profile_address>
                    <profile_item>
                        <table>ho_recurring_profile_item</table>
                    </profile_item>
                    <profile_quote>
                        <table>ho_recurring_profile_quote</table>
                    </profile_quote>
                    <profile_order>
                        <table>ho_recurring_profile_order</table>
                    </profile_order>
                    <product_profile>
                        <table>ho_recurring_product_profile</table>
                    </product_profile>
                    <product_profile_label>
                        <table>ho_recurring_product_profile_label</table>
                    </product_profile_label>
                </entities>
            </ho_recurring_resource>
            <catalog>
                <rewrite>
                    <product_type_simple>Ho_Recurring_Model_Catalog_Product_Type_Simple</product_type_simple>
                    <product_type_price>Ho_Recurring_Model_Catalog_Product_Price_Simple</product_type_price>
                    <product_type_configurable>Ho_Recurring_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                    <product_type_configurable_price>Ho_Recurring_Model_Catalog_Product_Price_Configurable</product_type_configurable_price>
                </rewrite>
            </catalog>
            <bundle>
                <rewrite>
                    <product_price>Ho_Recurring_Model_Catalog_Product_Price_Bundle</product_price>
                    <product_type>Ho_Recurring_Model_Catalog_Product_Type_Bundle</product_type>
                </rewrite>
            </bundle>
        </models>
        <catalog>
            <product>
                <type>
                    <simple translate="label" module="catalog">
                        <price_model>ho_recurring/catalog_product_price_simple</price_model>
                    </simple>
                </type>
            </product>
        </catalog>
        <resources>
            <ho_recurring_setup>
                <setup>
                    <module>Ho_Recurring</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ho_recurring_setup>
        </resources>
        <events>
            <sales_quote_add_item>
                <observers>
                    <ho_recurring>
                        <class>ho_recurring/product_observer</class>
                        <method>addRecurringProductProfileToQuote</method>
                    </ho_recurring>
                </observers>
            </sales_quote_add_item>
            <payment_method_is_active>
                <observers>
                    <ho_recurring>
                        <class>ho_recurring/product_observer</class>
                        <method>isPaymentMethodActive</method>
                    </ho_recurring>
                </observers>
            </payment_method_is_active>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <ho_recurring_add_recurring_profiles_options_to_order>
                        <class>ho_recurring/observer</class>
                        <method>addRecurringProductProfileToOrder</method>
                    </ho_recurring_add_recurring_profiles_options_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_collection_load_after>
                <observers>
                    <ho_recurring_load_attributes_after_collection_load>
                        <class>ho_recurring/product_observer</class>
                        <method>loadAttributesAfterCollectionLoad</method>
                    </ho_recurring_load_attributes_after_collection_load>
                </observers>
            </catalog_product_collection_load_after>
            <sales_order_place_before>
                <observers>
                    <ho_recurring_calculate_item_qty>
                        <class>ho_recurring/observer</class>
                        <method>calculateItemQty</method>
                    </ho_recurring_calculate_item_qty>
                </observers>
            </sales_order_place_before>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <ho_recurring_type />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <recurring_profile_id>
                    <to_order>*</to_order>
                </recurring_profile_id>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <ho_recurring>
                <use>standard</use>
                <args>
                    <module>Ho_Recurring</module>
                    <frontName>ho_recurring</frontName>
                </args>
            </ho_recurring>
        </routers>
        <layout>
            <updates>
                <ho_recurring module="ho_recurring">
                    <file>ho/recurring.xml</file>
                </ho_recurring>
            </updates>
        </layout>
        <events>
            <product_option_renderer_init>
                <observers>
                    <ho_recurring>
                        <class>ho_recurring/product_observer</class>
                        <method>initOptionRenderer</method>
                    </ho_recurring>
                </observers>
            </product_option_renderer_init>
            <controller_action_layout_load_before>
                <observers>
                    <ho_recurring>
                        <class>ho_recurring/product_observer</class>
                        <method>addProductTypeRecurringHandle</method>
                    </ho_recurring>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <ho_recurring>
                <use>admin</use>
                <args>
                    <module>Ho_Recurring</module>
                    <frontName>ho_recurring</frontName>
                </args>
            </ho_recurring>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ho_recurring module="ho_recurring">
                    <file>ho/recurring.xml</file>
                </ho_recurring>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <ho_recurring_save_recurring_product_data>
                        <type>singleton</type>
                        <class>ho_recurring/product_observer</class>
                        <method>saveRecurringProductData</method>
                    </ho_recurring_save_recurring_product_data>
                </observers>
            </catalog_product_save_before>
            <controller_action_layout_load_before>
                <observers>
                    <ho_recurring>
                        <class>ho_recurring/observer</class>
                        <method>addAdminhtmlSalesOrderCreateHandles</method>
                    </ho_recurring>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <ho_recurring_sales_order_grid_collection>
                        <type>singleton</type>
                        <class>ho_recurring/observer</class>
                        <method>beforeOrderCollectionLoad</method>
                    </ho_recurring_sales_order_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ho_recurring_add_sales_order_grid_column>
                        <type>singleton</type>
                        <class>ho_recurring/observer</class>
                        <method>addGridColumn</method>
                    </ho_recurring_add_sales_order_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <ho_recurring_create_profiles>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>ho_recurring/observer::createProfiles</model></run>
            </ho_recurring_create_profiles>
            <ho_recurring_create_quotes>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run><model>ho_recurring/observer::createQuotes</model></run>
            </ho_recurring_create_quotes>
            <ho_recurring_create_orders>
                <schedule><cron_expr>15 6 * * *</cron_expr></schedule>
                <run><model>ho_recurring/observer::createOrders</model></run>
            </ho_recurring_create_orders>
        </jobs>
    </crontab>
</config>
