<?xml version="1.0"?>
<!--
/**
 *               _
 *              | |
 *     __ _   _ | | _  _   ___  _ __
 *    / _` | / || || || | / _ \| '  \
 *   | (_| ||  || || || ||  __/| || |
 *    \__,_| \__,_|\__, | \___||_||_|
 *                 |___/
 *
 * Adyen Subscription module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 H&O (http://www.h-o.nl/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>, H&O <info@h-o.nl>
 */
-->
<config>
    <sections>
        <adyen_subscription translate="label" module="adyen_subscription">
            <label>Adyen Subscriptions</label>
            <tab>sales</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <profile translate="label">
                    <label>Profile</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cancel_reasons translate="label">
                            <label>Cancel Reasons</label>
                            <frontend_model>adyen_subscription/adminhtml_system_config_cancelReasons</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[]]></comment>
                        </cancel_reasons>
                    </fields>
                </profile>
            </groups>
        </adyen_subscription>
    </sections>
</config>
